<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="D0I_HknAZug2fyADEd9UGAHOx_DMPkzZGOZu11WgwLI" />
  <title>App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
